/*
 *Main
 */

body {
 background: $dark-background;
}

.News-container {
    margin-top: 50px;
    background: $gray-background;
    border-radius: 10px 10px 0 0;
    animation: jump .8s ease;
    .News-container-header {
        background: $orange-header;
        border-radius: 10px 10px 0 0;
        .brand-logo {
            i { font-size: 2em; }
        }
        span.selected-title {
            padding-left: 70px;
            padding-right: 15px;
        }
    }
    .News-container-body {
        margin: 0;
        background: $gray-background;
        min-height: $body-height;
        /*
         *news list
         */
        .col {
            .card-panel { padding: 10px; }
            .News-card-summary {
                .row { 
                    margin: 0; 
                    font-size: 18px;
                    img { 
                        max-width: 65%; 
                        min-height: 25px;
                    }
                }
            }
            .News-card-full {
                animation: flipInX .5s ease-out;
                padding: 0;
                .row { margin: 0; padding: 0; }
                .News-card-full-image {
                    margin: 0; 
                    padding: 0;
                    text-align: center;
                    img { 
                        max-width: 100%;
                        object-fit:cover;
                    }
                }
                .News-card-full-content {
                    padding: 20px;
                }
            }
        }    
    }
}

@media only screen and (max-width: 992px){
    nav .brand-logo {
        left: 0;
        transform: none;
    }
}

/*
 *Angular ngAnimate 
 */

/*
 * ngRepeat triggers three animation events: enter, leave and move.
 */
.News-card-summary.ng-enter {
    animation: growRight .3s ease;
}
.News-card-summary.ng-enter-stagger {
	/* this will have a 100ms delay between each successive leave animation */
    animation-delay: 0.1s;

	/* in case the stagger doesn's work then the duration value
	 must be set to 0 to avoid an accidental CSS inheritance */
    animation-duration: 0s;
}

.selected-title.ng-enter {
    animation: fall .2s ease;
}
.selected-title.ng-leave{
    animation: shrinkLeft .2s ease;
}

.more-info.ng-leave {
    /*animation: bounceOut .4s ease-out;*/
    animation: flipOutX .4s ease-out;
}

